<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqSSLFnsR5bdJyQTcPa-fD53h4nnTf4OU</string>
	<key>GCM_SENDER_ID</key>
	<string>478506047296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.edu.fcu.d0948405.bookApp</string>
	<key>PROJECT_ID</key>
	<string>bookapp-ede7b</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-ede7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478506047296:ios:eb33339c34556cc8fecca5</string>
</dict>
</plist>